/*--------------------Geral--------------------*/

*{

    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,p,span,li{
    font-family: Arial, Helvetica, sans-serif;

}


.menu{

    background: linear-gradient(to bottom, #31a010 50%, #2cab17 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu img{

    width: 4vw;
    margin-left: 7vw;

}

.menu ul{

    display: flex;
    margin-right: 10vw;

}

ul{

    list-style-type: none;
   

}

ul  a{

    color: white;
    text-decoration: none;
    margin: 2vw;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;

}


/*--------------------Início--------------------*/




main{

    display: flex;
    flex-direction: column;
    align-items: center;

}

main h1{

    margin-top: 7vw;
    font-size: 2.5vw;

}

main p{

    text-align: center;
    max-width: 56vw;
    margin-top: 2vw;
    font-size: 1.5vw;

}

.barra{

    background-color: grey;
    width: 70vw;
    height: 0.5vw;

}


.negrito{

    font-weight: bold;

}

.BraWiky{

 color: #00bf63;
 font-weight: bold;

}

.Mapa{

    margin-top: 90px;
    margin-right: 100px;
    position: relative;
}


.norte{

    
    width: 400.6px;
    grid-area: norte;

}

.centro-oeste{

    position: absolute;
    top: 187px;
    left: 175px;
    width: 224px;
    

}

.nordeste{

    position: absolute;
    top: 98px;
    left: 365px;
    width: 192px;

}

.sudeste{

    position: absolute;
    top: 285px;
    left: 299px;
    width: 189.2px;

}

.sul{

    position: absolute;
    top: 404px;
    left: 233px;
    width: 135px;




}

.legenda{

    position: relative;
    top: 350px;
    left: 100px;
    width: 550px;


}


/*--------------------Região--------------------*/

.norte-grid h1{grid-area: norte;}.norte-grid img{width: 25vw;}

.centro-oeste-grid{grid-area: centro-oeste;} .centro-oeste-grid img{width: 20vw;}

.nordeste-grid h1{grid-area: nordeste;} .nordeste-grid img{width: 17vw;}

.sudeste-grid{grid-area: sudeste;} .sudeste-grid img{width: 21vw;}

.sul-grid{grid-area: sul ;} .sul-grid img{ width: 17vw;}


.Região{
    display: grid;
    gap: 0vw 15vw;
    margin-top: 1vw;
    text-align: center;


    grid-template-areas:
    

    "norte nordeste"
    "sudeste centro-oeste"
    "sul sul"

    ;

} .Região h1{

    margin-bottom: 3vw;

}

/*--------------------Região_modelo--------------------*/

.circulo-legenda{

    width:15px; 
    height:15px; 
    background-color: none; 
    display:inline-block; 
    border-radius: 100px;
    margin-left: 40px;


}


.grafico-legenda{

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    margin-top: 100px;

}

span{

  font-weight: normal;
}

/*--------------------Sobre--------------------*/

.paragrafo{

    text-indent: 90px;
    text-align: justify;
    max-width: 70vw;
    margin: 3px;
}


/*--------------------media--------------------*/

@media(max-width: 400px){

.menu img{

    width: 10vw;
    margin-left: 5vw ;

}

ul a{

    font-size: 3vw;

}

.paragrafo{

    text-indent: 10vw;
    max-width: 80vw;
    font-size: 5vw;

}
.barra{

    width: 90vw;
    height: 1vw;

}
#titulo{

    font-size: 7vw;

}
}

